/* Fonts
   ========================================================================== */

$font-serif: "Crimson Text", Georgia, serif;
$font-sans: "Work Sans", Helvetica, sans-serif;

/* Colors
   ========================================================================== */

$color-white:   #fff;
$color-light: #f8f8f8;
$color-medium: rgba(255, 255, 255, 0.5);
$color-dark: #191919;
$color-dark-medium: rgba(25, 25, 25, 0.5);

$color-blue-0: #C3E5FF;
$color-blue-1: #8ECDFE;
$color-blue-2: #35A7FF;
$color-blue-3: #2490E4;

$color-green-0: #C1FFC7;
$color-green-1: #6BF178;
$color-green-2: #4CD559;
$color-green-3: #2AB137;

$color-yellow-0: #FFF9D2;
$color-yellow-1: #FFF19A;
$color-yellow-2: #FFE74E;
$color-yellow-3: #FFDE00;

$color-purple-0: #E9D8FF;
$color-purple-1: #C598FF;
$color-purple-2: #9F55FF;
$color-purple-3: #6F00FF;

$color-red-0: #FFBFC3;
$color-red-1: #FF5964;
$color-red-2: #E02A36;
$color-red-3: #AE000C;

$color-orange-0: #FFFAED;
$color-orange-1: #FCEDC9;
$color-orange-2: #FDD67D;
$color-orange-3: #FFB000;

/* Border Radius
   ========================================================================== */

$border-regular: 0.3rem;

/* Shadows
   ========================================================================== */

$shadow-small: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);

/* Animation Speed & Easing
   ========================================================================== */

$speed-fast: 200ms;
$speed-medium: 400ms;
$speed-slow: 700ms;

$easing-regular: cubic-bezier(0.25, 0.46, 0.45, 0.94);

/* Breakpoints
   ========================================================================== */

$bp-small: 400px;
$bp-medium: 700px;
$bp-large: 1000px;
$bp-largest: 1200px;

/* Mixins
   ========================================================================== */

@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin link-underline-dark {
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 11%,
    rgba(0,0,0,.3) 11%,
    rgba(0,0,0,.3) 16%,
    rgba(0,0,0,0) 16%
    );
}

@mixin link-underline-light {
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(255, 255, 255, 0) 11%,
    rgba(255, 255, 255, .1) 11%,
    rgba(255, 255, 255, .1) 16%,
    rgba(255, 255, 255, 0) 16%
    );
}
